@font-face {
    font-family: HelveticaNeueUltraLight;
    src: url('HelveticaNeue-UltraLight.ttf');
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: /*HelveticaNeueUltraLight,*/ sans-serif;
    font-weight: 100;

    color: #E9706E;
    background-color: #EAEDF1;
}

h3 {
    color: #E9706E;
    font-weight: 100;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1em;
}

p {
    color: #000;
}

#packery {
    margin-left: 2%;
}

#logotype:hover {
    background-position: 25% 0;
}

#logotype {
    font-size: 1em;
    display: inline-block;
    height: 12rem;
    width: 11.9rem;
    margin: 0 4rem 0 2rem;
    text-indent: -999em;
    background-image: url('StatusWolf_Logo_Combined.png');
    background-size: cover;
}

#menu-bar {
    white-space: nowrap;
    padding-top: 0.6em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #E9706E;
    border-bottom: 4px solid #C14141;
}

#menu-bar button {
    margin-right: .2em;
    border: 1px solid white;
    border-radius: 0;
    background: none;
    float: right;
    margin-top: 0.5em;
    cursor: pointer;
}

#menu-bar button:hover {
    border: none !important;
    background-color: #CC4040 !important;
}


button:focus {
    /* Disable default blue outline */
    outline: none;
}

button {
    /* So they don't both move when you click one */
    vertical-align: top;

    font-size: 3.5em;
    color: white;

    width: 2.7em;
    height: 1.8em;

    background-color: #767676;
    border: 0 rgba(0,0,0,0);
    border-radius: .2em;
}

#new-status {
    padding: .25em 0 .7em;
}

#settings img {
    margin-top: .25em;
}

.status {
    /*width: 36rem;*/
    width: 48%;
    min-width: 36rem;
    height: 9rem;

    font-size: 1.5em;
    background-color: white;
    border-bottom: 2px solid #E9706E;

    box-sizing: border-box;
    margin: .05em;
    padding: .5rem 1rem;

    cursor: pointer;
}

.expanded-status {
    margin-right: 5%;
    width: 98%;
    height: 12em;
}

.expanded-status .valign-wrapper, .expanded-status h3 {
    height: 5em !important;
}

.subfield {
    display: none;
    /*color: #ccc;*/
    color: #999;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 7px;
    margin-left: 1.1em;Only has an end date
    margin-right: 1.1em;
}

.status-emails {
    float: right;
    text-align: right;
    display: inline-block;
}

.status-enddate {
    margin-left: 0;
}

.expanded-status .status-startdate, .expanded-status .status-enddate { 
    display: inline !important;
}

.status-creatoremail::before { 
    content: "Creator: ";
    font-weight:700;
}

.status-assigneeemail::before { 
    content: "Assignee: ";
    font-weight:700;
}

.expanded-status .subfield {
    display: block;
}

.status .valign-wrapper {
    display: table;
    height: 100%;
}

.status h3 {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    width: 26rem;
    /*line-height: 4.3em;*/
}

.indicator {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
}

.traffic-light {
    font-size: 10rem;
}

.green {
    color: #37B019;
}

.yellow {
    color: #FFDF0F;
}

.red {
    color: #E5234D;
}

/* ----- Add New Status Form ----- */

.FormHeader {
    text-transform: uppercase;

    width: 100%;
    height: 50px;

    margin: 0px;
    background-color: #CC4040;

    padding: 18px 0px 0 15px;
    color: white;
    background-color: #CC4040;

    font-size: 1.1em;
    font-weight: 100;
}

#add-menu {
    position: absolute;
    visibility: hidden;
    z-index: 10;

    background-color: white;
    border: 1px solid #CC4040;
    right: 182px;
    top: 145px;
    width: 520px;
}

#add-menu {
    font-size: 1.2em;
}

#add-menu input, #add-menu textarea {
    font-size: 0.9em;
}

.smalldot {
    background: #5EDD60;
    border-radius: 100%;
    float: right;
    display: inline-block;
}

.FormStuff {
    padding: 15px;
}

.Create button {
    background-color: #E9706E;
    border-radius: 0px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 20px;
}

.Create button:hover {
    background-color:#CC4040;
    cursor:pointer;
}

.Create {
    text-align: center;
}

#new-task-description {
    width: 100%;
    max-width: 100%;
    height: 100px;
    max-height: 100px;
}

.AddAssignee button {
    border-radius: 0px;
    height: 48px;
    width: 69px;
    background-color: #CC4040;
    font-size: 18px;
}

.AddAssignee button:hover {
    background-color:#E9706E;
    cursor:pointer;
}

.FormStuff input[type="text"], .FormStuff input[type="date"] {
    -webkit-appearance: none !important;
    border: 1px solid #999;
}

.FormStuff textarea {
    margin-bottom: 15px;
}

.AddAssignee {
    display: inline-block;
}

@media (min-width: 1710px) {
    #packery .status {
        width: 30% !important;
        min-width: 0 !important;
    }

    .expanded-status {
        width: 100% !important;
    }

    .status .valign-wrapper, .status h3 {
        width: auto;
        max-width: auto;
        padding-right: 5%;
    }
}

@media (max-width: 1210px) {
    .status {
        width: 96% !important;
    }

    .status .valign-wrapper, .status h3 {
        width: 90%;
        max-width: 90%;
    }
}

@media (max-width: 1210px) and (max-device-width: 720px) {
    body {
        font-size: 1.5em;
    }

    #menu-bar button {
        margin-top: 0.2em;
    }

    .expanded-status {
        height: 40rem !important;
    }

    .expanded-status .valign-wrapper, .expanded-status h3 {
        height: 10rem !important;
    }

    .status-description, .status-startdate, .status-enddate, .status-creatoremail, .status-assigneeemail {
        font-size:0.9em;
        line-height:1em;
    }
}

@media (max-width: 1210px) and (max-device-width: 720px) and (orientation: portrait) {
    body {
        font-size: 2em;
    }

    #menu-bar {
        font-size: 0.7em;
    }

    #menu-bar button {
        border-width: 2px;
    }

    .status {
        height: 13.5rem;
    }

    .traffic-light {
        font-size: 13.5rem;
    }

    .status-description, .status-startdate, .status-enddate, .status-creatoremail, .status-assigneeemail {
        font-size:0.9em;
        line-height:1em;
    }
}
