body {
    font-family: sans-serif;
    font-weight: 100;

    color: #E9706E;
    background-color: #EAEDF1;
}

#packery {
    width: 100%;
    height: 100%;
}

#logotype:hover {
    background-position: 25% 0;
}

#logotype {
    font-size: 1em;
    display: inline-block;
    height: 12rem;
    width: 11.9rem;
    margin: 0 4rem 0 2rem;
    text-indent: -999em;
    background-image: url('StatusWolf_Logo_Combined.png');
    background-size: cover;
}

#menu-bar {
    white-space: nowrap;
    float: right;
    padding-top: 0.6em;
    width: 100%;
    background-color: #E9706E;
    border-bottom: 4px solid #C14141;
}

#menu-bar button {
    margin-right: .2em;
    border: 1px solid white;
    border-radius: 0;
    background: none;
    float: right;
    margin-top: 0.5em;
}

#menu-bar button:hover {
  border: none;
  background-color: #CC4040;
}


button:focus {
    /* Disable default blue outline */
    outline: none;
}

button {
    /* So they don't both move when you click one */
    vertical-align: top;

    font-size: 3.5em;
    color: white;

    width: 2.7em;
    height: 1.8em;

    background-color: #767676;
    border: 0 rgba(0,0,0,0);
    border-radius: .2em;
}

#new-status {
    padding: .25em 0 .7em;
}

#settings img {
    margin-top: .25em;
}

.status:before, .status h3 {
    display: inline-block;
    vertical-align: middle;
}

.status:before {
    content: "";
}

.status {
    width: 36rem;
    height: 9rem;

    font-size: 1.5em;
    background-color: white;
    border-bottom: 2px solid;

    box-sizing: border-box;
    margin: .05em;
    padding: .5em 1em;

    cursor: pointer;
}

.expanded-status {
    width: 100%;
    background-color: #5C5A4F; /* TODO: This is too close to the menu button's gray */
}

.status h3 {
    display: inline-block;
    width: 26rem;
    /*line-height: 4.3em;*/
}

.indicator {
    float: right;
    margin-left: 1.2rem;
    /*line-height: 0.75;*/
}

.traffic-light {
    font-size: 10rem;
    line-height: 104px;
}

.green {
    color: #37B019;
}

.yellow {
    color: #FFDF0F;
}

.red {
    color: red;
}

